<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoEstoque" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServicoEstoque/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoEstoque"
                contract="projetoavaliativodm11301.IServicoEstoque" name="BasicHttpBinding_IServicoEstoque" />
            <endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
                bindingConfiguration="" contract="projetoavaliativodm11301.IServicoEstoque"
                name="NetTcpBinding_IServicoEstoque" />
        </client>
    </system.serviceModel>
</configuration>